<a href="https://colab.research.google.com/github/maty91ok/mi-portafolio/blob/main/tp1_Matias_Canevaro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

    a) Ejecutar comandos de tu entorno (shell) para inspeccionar el archivo.

In [1]:
!ls

datos_clima.csv  drive	sample_data

    b) Cargar el archivo en un DataFrame y mostrar el contenido

In [3]:
import pandas as pd

# Cargar el archivo en un DataFrame
df = pd.read_csv('datos_clima.csv')

# Mostrar el contenido del DataFrame
print(df)

         FECHA  HORA  Unnamed: 2  TEMP  HUM     PNM     DD    FF  \
0   19/03/2023     0         NaN   8.2   86  1515.0  190.0   9.0
1   19/03/2023     1         NaN   8.1   84  1516.0  200.0   9.0
2   19/03/2023     2         NaN   8.3   82  1515.0  190.0   9.0
3   19/03/2023     3         NaN   8.3   80  1514.0  200.0   7.0
4   19/03/2023     4         NaN   7.8   79  1512.0  200.0   9.0
5   19/03/2023     5         NaN   7.2   83  1509.0  200.0  11.0
6   19/03/2023     6         NaN   6.6   78  1511.0  200.0   9.0
7   19/03/2023     7         NaN   6.2   81  1510.0  190.0   9.0
8   19/03/2023     8         NaN   6.5   77  1507.0  180.0  13.0
9   19/03/2023     8         NaN   6.5   77  1507.0  180.0  13.0
10  19/03/2023     9         NaN   6.9   70  1507.0  200.0   9.0
11  19/03/2023    10         NaN  10.1   71  1509.0  190.0   6.0
12  19/03/2023    11         NaN  12.3   63  1512.0  990.0   6.0
13  19/03/2023    12         NaN  13.7   57  1511.0  290.0  11.0
14  19/03/2023    13         NaN  14.9   41  1507.0  300.0  13.0
15  19/03/2023    14         NaN  17.1   38  1501.0  320.0  19.0
16  19/03/2023    15         NaN  18.9   27  1499.0  320.0  20.0
17  19/03/2023    16         NaN  20.1   20  1494.0  300.0  24.0
18  19/03/2023    17         NaN  20.3   18  1493.0  300.0  33.0
19  19/03/2023    18         NaN  19.4   30  1489.0  280.0  30.0
20  19/03/2023    19         NaN  18.8   25  1488.0  300.0  28.0
21  19/03/2023    20         NaN  15.6   47  1491.0  300.0  17.0
22  19/03/2023    21         NaN  14.1   46  1499.0  140.0   6.0
23  19/03/2023    22         NaN  10.5   46  1506.0  200.0   9.0
24  19/03/2023    23         NaN   8.2   62  1513.0  110.0  13.0
25  19/03/2023     0         NaN  27.6   53  1007.2   50.0  26.0
26  19/03/2023     0         NaN  27.6   53  1007.2   50.0  26.0
27  19/03/2023     1         NaN  27.2   50  1006.9   20.0  28.0
28  19/03/2023     2         NaN  26.4   54  1006.6   20.0  26.0
29  19/03/2023     3         NaN   NaN   52  1006.1   20.0  31.0
30  19/03/2023     4         NaN   NaN   52  1005.8   20.0  30.0
31  19/03/2023     5         NaN  26.6   58  1005.9   20.0  17.0
32  19/03/2023     6         NaN  24.8   60  1006.6  340.0   9.0
33  19/03/2023     7         NaN  24.2   63  1007.2  360.0  11.0
34  19/03/2023     8         NaN  23.2   62  1008.5   20.0   6.0
35  19/03/2023     9         NaN  25.8   57  1009.2    0.0   0.0
36  19/03/2023    10         NaN  28.8   43  1007.6    NaN   NaN
37  19/03/2023    11         NaN  30.2   43  1009.6    NaN   9.0
38  19/03/2023    12         NaN  32.8   40  1008.4    NaN   4.0
39  19/03/2023    13         NaN  35.6   32  1006.9    NaN   9.0
40  19/03/2023    14         NaN  37.0   30  1005.7   20.0  11.0
41  19/03/2023    15         NaN  37.0   29  1004.8   20.0  17.0
42  19/03/2023    16         NaN  38.8   24  1003.4   20.0  11.0
43  19/03/2023    17         NaN  38.6   24  1002.9   20.0  17.0
44  19/03/2023    18         NaN  36.8   27  1003.2   20.0  24.0
45  19/03/2023    19         NaN  34.8   32  1004.0   20.0  26.0
46  19/03/2023    20         NaN  32.8   39  1004.9   20.0  20.0
47  19/03/2023    21         NaN  31.4   42  1005.2   20.0  22.0
48  19/03/2023    22         NaN  30.1   42  1006.1   20.0  19.0
49  19/03/2023    23         NaN  29.2   43  1006.7   20.0  15.0

     estacion met.  Unnamed: 9  Unnamed: 10  Unnamed: 11  NOMBRE
0   BARILOCHE_AERO         NaN          NaN          NaN     NaN
1   BARILOCHE_AERO         NaN          NaN          NaN     NaN
2   BARILOCHE_AERO         NaN          NaN          NaN     NaN
3   BARILOCHE_AERO         NaN          NaN          NaN     NaN
4   BARILOCHE_AERO         NaN          NaN          NaN     NaN
5   BARILOCHE_AERO         NaN          NaN          NaN     NaN
6   BARILOCHE_AERO         NaN          NaN          NaN     NaN
7   BARILOCHE_AERO         NaN          NaN          NaN     NaN
8   BARILOCHE_AERO         NaN          NaN          NaN     NaN
9   BARILOCHE_AERO         NaN          NaN          NaN     NaN
10  BARILOCHE_AERO         NaN          NaN          NaN     NaN
11  BARILOCHE_AERO         NaN          NaN          NaN     NaN
12  BARILOCHE_AERO         NaN          NaN          NaN     NaN
13  BARILOCHE_AERO         NaN          NaN          NaN     NaN
14  BARILOCHE_AERO         NaN          NaN          NaN     NaN
15  BARILOCHE_AERO         NaN          NaN          NaN     NaN
16  BARILOCHE_AERO         NaN          NaN          NaN     NaN
17  BARILOCHE_AERO         NaN          NaN          NaN     NaN
18  BARILOCHE_AERO         NaN          NaN          NaN     NaN
19  BARILOCHE_AERO         NaN          NaN          NaN     NaN
20  BARILOCHE_AERO         NaN          NaN          NaN     NaN
21  BARILOCHE_AERO         NaN          NaN          NaN     NaN
22  BARILOCHE_AERO         NaN          NaN          NaN     NaN
23  BARILOCHE_AERO         NaN          NaN          NaN     NaN
24  BARILOCHE_AERO         NaN          NaN          NaN     NaN
25  CATAMARCA_AERO         NaN          NaN          NaN     NaN
26  CATAMARCA_AERO         NaN          NaN          NaN     NaN
27  CATAMARCA_AERO         NaN          NaN          NaN     NaN
28  CATAMARCA_AERO         NaN          NaN          NaN     NaN
29  CATAMARCA_AERO         NaN          NaN          NaN     NaN
30  CATAMARCA_AERO         NaN          NaN          NaN     NaN
31  CATAMARCA_AERO         NaN          NaN          NaN     NaN
32  CATAMARCA_AERO         NaN          NaN          NaN     NaN
33  CATAMARCA_AERO         NaN          NaN          NaN     NaN
34  CATAMARCA_AERO         NaN          NaN          NaN     NaN
35  CATAMARCA_AERO         NaN          NaN          NaN     NaN
36  CATAMARCA_AERO         NaN          NaN          NaN     NaN
37  CATAMARCA_AERO         NaN          NaN          NaN     NaN
38  CATAMARCA_AERO         NaN          NaN          NaN     NaN
39  CATAMARCA_AERO         NaN          NaN          NaN     NaN
40  CATAMARCA_AERO         NaN          NaN          NaN     NaN
41  CATAMARCA_AERO         NaN          NaN          NaN     NaN
42  CATAMARCA_AERO         NaN          NaN          NaN     NaN
43  CATAMARCA_AERO         NaN          NaN          NaN     NaN
44  CATAMARCA_AERO         NaN          NaN          NaN     NaN
45  CATAMARCA_AERO         NaN          NaN          NaN     NaN
46  CATAMARCA_AERO         NaN          NaN          NaN     NaN
47  CATAMARCA_AERO         NaN          NaN          NaN     NaN
48  CATAMARCA_AERO         NaN          NaN          NaN     NaN
49  CATAMARCA_AERO         NaN          NaN          NaN     NaN

    c) Mostrar las columnas con su tipo de datos

In [4]:
import pandas as pd

# Cargar el archivo en un DataFrame
df = pd.read_csv('datos_clima.csv')

# Mostrar las columnas y sus tipos de datos
print(df.dtypes)

FECHA             object
HORA               int64
Unnamed: 2       float64
TEMP             float64
HUM                int64
PNM              float64
DD               float64
FF               float64
estacion met.     object
Unnamed: 9       float64
Unnamed: 10      float64
Unnamed: 11      float64
NOMBRE           float64
dtype: object

    d) Eliminar las columnas que tienen todos valores nulos (dropearlas)

In [5]:
import pandas as pd

# Cargar el archivo en un DataFrame
df = pd.read_csv('datos_clima.csv')

# Eliminar las columnas que tienen todos sus valores nulos
df = df.dropna(axis=1, how='all')

# Mostrar el DataFrame resultante
print(df)

         FECHA  HORA  TEMP  HUM     PNM     DD    FF   estacion met.
0   19/03/2023     0   8.2   86  1515.0  190.0   9.0  BARILOCHE_AERO
1   19/03/2023     1   8.1   84  1516.0  200.0   9.0  BARILOCHE_AERO
2   19/03/2023     2   8.3   82  1515.0  190.0   9.0  BARILOCHE_AERO
3   19/03/2023     3   8.3   80  1514.0  200.0   7.0  BARILOCHE_AERO
4   19/03/2023     4   7.8   79  1512.0  200.0   9.0  BARILOCHE_AERO
5   19/03/2023     5   7.2   83  1509.0  200.0  11.0  BARILOCHE_AERO
6   19/03/2023     6   6.6   78  1511.0  200.0   9.0  BARILOCHE_AERO
7   19/03/2023     7   6.2   81  1510.0  190.0   9.0  BARILOCHE_AERO
8   19/03/2023     8   6.5   77  1507.0  180.0  13.0  BARILOCHE_AERO
9   19/03/2023     8   6.5   77  1507.0  180.0  13.0  BARILOCHE_AERO
10  19/03/2023     9   6.9   70  1507.0  200.0   9.0  BARILOCHE_AERO
11  19/03/2023    10  10.1   71  1509.0  190.0   6.0  BARILOCHE_AERO
12  19/03/2023    11  12.3   63  1512.0  990.0   6.0  BARILOCHE_AERO
13  19/03/2023    12  13.7   57  1511.0  290.0  11.0  BARILOCHE_AERO
14  19/03/2023    13  14.9   41  1507.0  300.0  13.0  BARILOCHE_AERO
15  19/03/2023    14  17.1   38  1501.0  320.0  19.0  BARILOCHE_AERO
16  19/03/2023    15  18.9   27  1499.0  320.0  20.0  BARILOCHE_AERO
17  19/03/2023    16  20.1   20  1494.0  300.0  24.0  BARILOCHE_AERO
18  19/03/2023    17  20.3   18  1493.0  300.0  33.0  BARILOCHE_AERO
19  19/03/2023    18  19.4   30  1489.0  280.0  30.0  BARILOCHE_AERO
20  19/03/2023    19  18.8   25  1488.0  300.0  28.0  BARILOCHE_AERO
21  19/03/2023    20  15.6   47  1491.0  300.0  17.0  BARILOCHE_AERO
22  19/03/2023    21  14.1   46  1499.0  140.0   6.0  BARILOCHE_AERO
23  19/03/2023    22  10.5   46  1506.0  200.0   9.0  BARILOCHE_AERO
24  19/03/2023    23   8.2   62  1513.0  110.0  13.0  BARILOCHE_AERO
25  19/03/2023     0  27.6   53  1007.2   50.0  26.0  CATAMARCA_AERO
26  19/03/2023     0  27.6   53  1007.2   50.0  26.0  CATAMARCA_AERO
27  19/03/2023     1  27.2   50  1006.9   20.0  28.0  CATAMARCA_AERO
28  19/03/2023     2  26.4   54  1006.6   20.0  26.0  CATAMARCA_AERO
29  19/03/2023     3   NaN   52  1006.1   20.0  31.0  CATAMARCA_AERO
30  19/03/2023     4   NaN   52  1005.8   20.0  30.0  CATAMARCA_AERO
31  19/03/2023     5  26.6   58  1005.9   20.0  17.0  CATAMARCA_AERO
32  19/03/2023     6  24.8   60  1006.6  340.0   9.0  CATAMARCA_AERO
33  19/03/2023     7  24.2   63  1007.2  360.0  11.0  CATAMARCA_AERO
34  19/03/2023     8  23.2   62  1008.5   20.0   6.0  CATAMARCA_AERO
35  19/03/2023     9  25.8   57  1009.2    0.0   0.0  CATAMARCA_AERO
36  19/03/2023    10  28.8   43  1007.6    NaN   NaN  CATAMARCA_AERO
37  19/03/2023    11  30.2   43  1009.6    NaN   9.0  CATAMARCA_AERO
38  19/03/2023    12  32.8   40  1008.4    NaN   4.0  CATAMARCA_AERO
39  19/03/2023    13  35.6   32  1006.9    NaN   9.0  CATAMARCA_AERO
40  19/03/2023    14  37.0   30  1005.7   20.0  11.0  CATAMARCA_AERO
41  19/03/2023    15  37.0   29  1004.8   20.0  17.0  CATAMARCA_AERO
42  19/03/2023    16  38.8   24  1003.4   20.0  11.0  CATAMARCA_AERO
43  19/03/2023    17  38.6   24  1002.9   20.0  17.0  CATAMARCA_AERO
44  19/03/2023    18  36.8   27  1003.2   20.0  24.0  CATAMARCA_AERO
45  19/03/2023    19  34.8   32  1004.0   20.0  26.0  CATAMARCA_AERO
46  19/03/2023    20  32.8   39  1004.9   20.0  20.0  CATAMARCA_AERO
47  19/03/2023    21  31.4   42  1005.2   20.0  22.0  CATAMARCA_AERO
48  19/03/2023    22  30.1   42  1006.1   20.0  19.0  CATAMARCA_AERO
49  19/03/2023    23  29.2   43  1006.7   20.0  15.0  CATAMARCA_AERO

    e) Identificar si hay filas duplicadas y quitarlas

In [6]:
import pandas as pd

# Cargar el archivo en un DataFrame
df = pd.read_csv('datos_clima.csv')

# Identificar filas duplicadas
duplicated_rows = df[df.duplicated()]

# Mostrar filas duplicadas
print("Filas duplicadas:")
print(duplicated_rows)

# Eliminar filas duplicadas
df = df.drop_duplicates()

# Mostrar el DataFrame resultante
print("DataFrame después de eliminar duplicados:")
print(df)

Filas duplicadas:
         FECHA  HORA  Unnamed: 2  TEMP  HUM     PNM     DD    FF  \
9   19/03/2023     8         NaN   6.5   77  1507.0  180.0  13.0
26  19/03/2023     0         NaN  27.6   53  1007.2   50.0  26.0

     estacion met.  Unnamed: 9  Unnamed: 10  Unnamed: 11  NOMBRE
9   BARILOCHE_AERO         NaN          NaN          NaN     NaN
26  CATAMARCA_AERO         NaN          NaN          NaN     NaN
DataFrame después de eliminar duplicados:
         FECHA  HORA  Unnamed: 2  TEMP  HUM     PNM     DD    FF  \
0   19/03/2023     0         NaN   8.2   86  1515.0  190.0   9.0
1   19/03/2023     1         NaN   8.1   84  1516.0  200.0   9.0
2   19/03/2023     2         NaN   8.3   82  1515.0  190.0   9.0
3   19/03/2023     3         NaN   8.3   80  1514.0  200.0   7.0
4   19/03/2023     4         NaN   7.8   79  1512.0  200.0   9.0
5   19/03/2023     5         NaN   7.2   83  1509.0  200.0  11.0
6   19/03/2023     6         NaN   6.6   78  1511.0  200.0   9.0
7   19/03/2023     7         NaN   6.2   81  1510.0  190.0   9.0
8   19/03/2023     8         NaN   6.5   77  1507.0  180.0  13.0
10  19/03/2023     9         NaN   6.9   70  1507.0  200.0   9.0
11  19/03/2023    10         NaN  10.1   71  1509.0  190.0   6.0
12  19/03/2023    11         NaN  12.3   63  1512.0  990.0   6.0
13  19/03/2023    12         NaN  13.7   57  1511.0  290.0  11.0
14  19/03/2023    13         NaN  14.9   41  1507.0  300.0  13.0
15  19/03/2023    14         NaN  17.1   38  1501.0  320.0  19.0
16  19/03/2023    15         NaN  18.9   27  1499.0  320.0  20.0
17  19/03/2023    16         NaN  20.1   20  1494.0  300.0  24.0
18  19/03/2023    17         NaN  20.3   18  1493.0  300.0  33.0
19  19/03/2023    18         NaN  19.4   30  1489.0  280.0  30.0
20  19/03/2023    19         NaN  18.8   25  1488.0  300.0  28.0
21  19/03/2023    20         NaN  15.6   47  1491.0  300.0  17.0
22  19/03/2023    21         NaN  14.1   46  1499.0  140.0   6.0
23  19/03/2023    22         NaN  10.5   46  1506.0  200.0   9.0
24  19/03/2023    23         NaN   8.2   62  1513.0  110.0  13.0
25  19/03/2023     0         NaN  27.6   53  1007.2   50.0  26.0
27  19/03/2023     1         NaN  27.2   50  1006.9   20.0  28.0
28  19/03/2023     2         NaN  26.4   54  1006.6   20.0  26.0
29  19/03/2023     3         NaN   NaN   52  1006.1   20.0  31.0
30  19/03/2023     4         NaN   NaN   52  1005.8   20.0  30.0
31  19/03/2023     5         NaN  26.6   58  1005.9   20.0  17.0
32  19/03/2023     6         NaN  24.8   60  1006.6  340.0   9.0
33  19/03/2023     7         NaN  24.2   63  1007.2  360.0  11.0
34  19/03/2023     8         NaN  23.2   62  1008.5   20.0   6.0
35  19/03/2023     9         NaN  25.8   57  1009.2    0.0   0.0
36  19/03/2023    10         NaN  28.8   43  1007.6    NaN   NaN
37  19/03/2023    11         NaN  30.2   43  1009.6    NaN   9.0
38  19/03/2023    12         NaN  32.8   40  1008.4    NaN   4.0
39  19/03/2023    13         NaN  35.6   32  1006.9    NaN   9.0
40  19/03/2023    14         NaN  37.0   30  1005.7   20.0  11.0
41  19/03/2023    15         NaN  37.0   29  1004.8   20.0  17.0
42  19/03/2023    16         NaN  38.8   24  1003.4   20.0  11.0
43  19/03/2023    17         NaN  38.6   24  1002.9   20.0  17.0
44  19/03/2023    18         NaN  36.8   27  1003.2   20.0  24.0
45  19/03/2023    19         NaN  34.8   32  1004.0   20.0  26.0
46  19/03/2023    20         NaN  32.8   39  1004.9   20.0  20.0
47  19/03/2023    21         NaN  31.4   42  1005.2   20.0  22.0
48  19/03/2023    22         NaN  30.1   42  1006.1   20.0  19.0
49  19/03/2023    23         NaN  29.2   43  1006.7   20.0  15.0

     estacion met.  Unnamed: 9  Unnamed: 10  Unnamed: 11  NOMBRE
0   BARILOCHE_AERO         NaN          NaN          NaN     NaN
1   BARILOCHE_AERO         NaN          NaN          NaN     NaN
2   BARILOCHE_AERO         NaN          NaN          NaN     NaN
3   BARILOCHE_AERO         NaN          NaN          NaN     NaN
4   BARILOCHE_AERO         NaN          NaN          NaN     NaN
5   BARILOCHE_AERO         NaN          NaN          NaN     NaN
6   BARILOCHE_AERO         NaN          NaN          NaN     NaN
7   BARILOCHE_AERO         NaN          NaN          NaN     NaN
8   BARILOCHE_AERO         NaN          NaN          NaN     NaN
10  BARILOCHE_AERO         NaN          NaN          NaN     NaN
11  BARILOCHE_AERO         NaN          NaN          NaN     NaN
12  BARILOCHE_AERO         NaN          NaN          NaN     NaN
13  BARILOCHE_AERO         NaN          NaN          NaN     NaN
14  BARILOCHE_AERO         NaN          NaN          NaN     NaN
15  BARILOCHE_AERO         NaN          NaN          NaN     NaN
16  BARILOCHE_AERO         NaN          NaN          NaN     NaN
17  BARILOCHE_AERO         NaN          NaN          NaN     NaN
18  BARILOCHE_AERO         NaN          NaN          NaN     NaN
19  BARILOCHE_AERO         NaN          NaN          NaN     NaN
20  BARILOCHE_AERO         NaN          NaN          NaN     NaN
21  BARILOCHE_AERO         NaN          NaN          NaN     NaN
22  BARILOCHE_AERO         NaN          NaN          NaN     NaN
23  BARILOCHE_AERO         NaN          NaN          NaN     NaN
24  BARILOCHE_AERO         NaN          NaN          NaN     NaN
25  CATAMARCA_AERO         NaN          NaN          NaN     NaN
27  CATAMARCA_AERO         NaN          NaN          NaN     NaN
28  CATAMARCA_AERO         NaN          NaN          NaN     NaN
29  CATAMARCA_AERO         NaN          NaN          NaN     NaN
30  CATAMARCA_AERO         NaN          NaN          NaN     NaN
31  CATAMARCA_AERO         NaN          NaN          NaN     NaN
32  CATAMARCA_AERO         NaN          NaN          NaN     NaN
33  CATAMARCA_AERO         NaN          NaN          NaN     NaN
34  CATAMARCA_AERO         NaN          NaN          NaN     NaN
35  CATAMARCA_AERO         NaN          NaN          NaN     NaN
36  CATAMARCA_AERO         NaN          NaN          NaN     NaN
37  CATAMARCA_AERO         NaN          NaN          NaN     NaN
38  CATAMARCA_AERO         NaN          NaN          NaN     NaN
39  CATAMARCA_AERO         NaN          NaN          NaN     NaN
40  CATAMARCA_AERO         NaN          NaN          NaN     NaN
41  CATAMARCA_AERO         NaN          NaN          NaN     NaN
42  CATAMARCA_AERO         NaN          NaN          NaN     NaN
43  CATAMARCA_AERO         NaN          NaN          NaN     NaN
44  CATAMARCA_AERO         NaN          NaN          NaN     NaN
45  CATAMARCA_AERO         NaN          NaN          NaN     NaN
46  CATAMARCA_AERO         NaN          NaN          NaN     NaN
47  CATAMARCA_AERO         NaN          NaN          NaN     NaN
48  CATAMARCA_AERO         NaN          NaN          NaN     NaN
49  CATAMARCA_AERO         NaN          NaN          NaN     NaN

    f) Identificar si hay algunos valores nulos que hayan quedado

In [7]:
import pandas as pd

# Cargar el archivo en un DataFrame
df = pd.read_csv('datos_clima.csv')

# Identificar valores nulos en el DataFrame
null_values = df.isnull().sum()

# Mostrar el conteo de valores nulos por columna
print("Conteo de valores nulos por columna:")
print(null_values)

Conteo de valores nulos por columna:
FECHA             0
HORA              0
Unnamed: 2       50
TEMP              2
HUM               0
PNM               0
DD                4
FF                1
estacion met.     0
Unnamed: 9       50
Unnamed: 10      50
Unnamed: 11      50
NOMBRE           50
dtype: int64

  g) En caso de existir, reemplazarlos por 0.

In [8]:
import pandas as pd

# Cargar el archivo en un DataFrame
df = pd.read_csv('datos_clima.csv')

# Reemplazar los valores nulos por 0
df = df.fillna(0)

# Mostrar el DataFrame resultante
print("DataFrame después de reemplazar valores nulos por 0:")
print(df)

DataFrame después de reemplazar valores nulos por 0:
         FECHA  HORA  Unnamed: 2  TEMP  HUM     PNM     DD    FF  \
0   19/03/2023     0         0.0   8.2   86  1515.0  190.0   9.0
1   19/03/2023     1         0.0   8.1   84  1516.0  200.0   9.0
2   19/03/2023     2         0.0   8.3   82  1515.0  190.0   9.0
3   19/03/2023     3         0.0   8.3   80  1514.0  200.0   7.0
4   19/03/2023     4         0.0   7.8   79  1512.0  200.0   9.0
5   19/03/2023     5         0.0   7.2   83  1509.0  200.0  11.0
6   19/03/2023     6         0.0   6.6   78  1511.0  200.0   9.0
7   19/03/2023     7         0.0   6.2   81  1510.0  190.0   9.0
8   19/03/2023     8         0.0   6.5   77  1507.0  180.0  13.0
9   19/03/2023     8         0.0   6.5   77  1507.0  180.0  13.0
10  19/03/2023     9         0.0   6.9   70  1507.0  200.0   9.0
11  19/03/2023    10         0.0  10.1   71  1509.0  190.0   6.0
12  19/03/2023    11         0.0  12.3   63  1512.0  990.0   6.0
13  19/03/2023    12         0.0  13.7   57  1511.0  290.0  11.0
14  19/03/2023    13         0.0  14.9   41  1507.0  300.0  13.0
15  19/03/2023    14         0.0  17.1   38  1501.0  320.0  19.0
16  19/03/2023    15         0.0  18.9   27  1499.0  320.0  20.0
17  19/03/2023    16         0.0  20.1   20  1494.0  300.0  24.0
18  19/03/2023    17         0.0  20.3   18  1493.0  300.0  33.0
19  19/03/2023    18         0.0  19.4   30  1489.0  280.0  30.0
20  19/03/2023    19         0.0  18.8   25  1488.0  300.0  28.0
21  19/03/2023    20         0.0  15.6   47  1491.0  300.0  17.0
22  19/03/2023    21         0.0  14.1   46  1499.0  140.0   6.0
23  19/03/2023    22         0.0  10.5   46  1506.0  200.0   9.0
24  19/03/2023    23         0.0   8.2   62  1513.0  110.0  13.0
25  19/03/2023     0         0.0  27.6   53  1007.2   50.0  26.0
26  19/03/2023     0         0.0  27.6   53  1007.2   50.0  26.0
27  19/03/2023     1         0.0  27.2   50  1006.9   20.0  28.0
28  19/03/2023     2         0.0  26.4   54  1006.6   20.0  26.0
29  19/03/2023     3         0.0   0.0   52  1006.1   20.0  31.0
30  19/03/2023     4         0.0   0.0   52  1005.8   20.0  30.0
31  19/03/2023     5         0.0  26.6   58  1005.9   20.0  17.0
32  19/03/2023     6         0.0  24.8   60  1006.6  340.0   9.0
33  19/03/2023     7         0.0  24.2   63  1007.2  360.0  11.0
34  19/03/2023     8         0.0  23.2   62  1008.5   20.0   6.0
35  19/03/2023     9         0.0  25.8   57  1009.2    0.0   0.0
36  19/03/2023    10         0.0  28.8   43  1007.6    0.0   0.0
37  19/03/2023    11         0.0  30.2   43  1009.6    0.0   9.0
38  19/03/2023    12         0.0  32.8   40  1008.4    0.0   4.0
39  19/03/2023    13         0.0  35.6   32  1006.9    0.0   9.0
40  19/03/2023    14         0.0  37.0   30  1005.7   20.0  11.0
41  19/03/2023    15         0.0  37.0   29  1004.8   20.0  17.0
42  19/03/2023    16         0.0  38.8   24  1003.4   20.0  11.0
43  19/03/2023    17         0.0  38.6   24  1002.9   20.0  17.0
44  19/03/2023    18         0.0  36.8   27  1003.2   20.0  24.0
45  19/03/2023    19         0.0  34.8   32  1004.0   20.0  26.0
46  19/03/2023    20         0.0  32.8   39  1004.9   20.0  20.0
47  19/03/2023    21         0.0  31.4   42  1005.2   20.0  22.0
48  19/03/2023    22         0.0  30.1   42  1006.1   20.0  19.0
49  19/03/2023    23         0.0  29.2   43  1006.7   20.0  15.0

     estacion met.  Unnamed: 9  Unnamed: 10  Unnamed: 11  NOMBRE
0   BARILOCHE_AERO         0.0          0.0          0.0     0.0
1   BARILOCHE_AERO         0.0          0.0          0.0     0.0
2   BARILOCHE_AERO         0.0          0.0          0.0     0.0
3   BARILOCHE_AERO         0.0          0.0          0.0     0.0
4   BARILOCHE_AERO         0.0          0.0          0.0     0.0
5   BARILOCHE_AERO         0.0          0.0          0.0     0.0
6   BARILOCHE_AERO         0.0          0.0          0.0     0.0
7   BARILOCHE_AERO         0.0          0.0          0.0     0.0
8   BARILOCHE_AERO         0.0          0.0          0.0     0.0
9   BARILOCHE_AERO         0.0          0.0          0.0     0.0
10  BARILOCHE_AERO         0.0          0.0          0.0     0.0
11  BARILOCHE_AERO         0.0          0.0          0.0     0.0
12  BARILOCHE_AERO         0.0          0.0          0.0     0.0
13  BARILOCHE_AERO         0.0          0.0          0.0     0.0
14  BARILOCHE_AERO         0.0          0.0          0.0     0.0
15  BARILOCHE_AERO         0.0          0.0          0.0     0.0
16  BARILOCHE_AERO         0.0          0.0          0.0     0.0
17  BARILOCHE_AERO         0.0          0.0          0.0     0.0
18  BARILOCHE_AERO         0.0          0.0          0.0     0.0
19  BARILOCHE_AERO         0.0          0.0          0.0     0.0
20  BARILOCHE_AERO         0.0          0.0          0.0     0.0
21  BARILOCHE_AERO         0.0          0.0          0.0     0.0
22  BARILOCHE_AERO         0.0          0.0          0.0     0.0
23  BARILOCHE_AERO         0.0          0.0          0.0     0.0
24  BARILOCHE_AERO         0.0          0.0          0.0     0.0
25  CATAMARCA_AERO         0.0          0.0          0.0     0.0
26  CATAMARCA_AERO         0.0          0.0          0.0     0.0
27  CATAMARCA_AERO         0.0          0.0          0.0     0.0
28  CATAMARCA_AERO         0.0          0.0          0.0     0.0
29  CATAMARCA_AERO         0.0          0.0          0.0     0.0
30  CATAMARCA_AERO         0.0          0.0          0.0     0.0
31  CATAMARCA_AERO         0.0          0.0          0.0     0.0
32  CATAMARCA_AERO         0.0          0.0          0.0     0.0
33  CATAMARCA_AERO         0.0          0.0          0.0     0.0
34  CATAMARCA_AERO         0.0          0.0          0.0     0.0
35  CATAMARCA_AERO         0.0          0.0          0.0     0.0
36  CATAMARCA_AERO         0.0          0.0          0.0     0.0
37  CATAMARCA_AERO         0.0          0.0          0.0     0.0
38  CATAMARCA_AERO         0.0          0.0          0.0     0.0
39  CATAMARCA_AERO         0.0          0.0          0.0     0.0
40  CATAMARCA_AERO         0.0          0.0          0.0     0.0
41  CATAMARCA_AERO         0.0          0.0          0.0     0.0
42  CATAMARCA_AERO         0.0          0.0          0.0     0.0
43  CATAMARCA_AERO         0.0          0.0          0.0     0.0
44  CATAMARCA_AERO         0.0          0.0          0.0     0.0
45  CATAMARCA_AERO         0.0          0.0          0.0     0.0
46  CATAMARCA_AERO         0.0          0.0          0.0     0.0
47  CATAMARCA_AERO         0.0          0.0          0.0     0.0
48  CATAMARCA_AERO         0.0          0.0          0.0     0.0
49  CATAMARCA_AERO         0.0          0.0          0.0     0.0

    h) Generar algunas medidas descriptivas en general

In [9]:
import pandas as pd

# Cargar el archivo en un DataFrame
df = pd.read_csv('datos_clima.csv')

# Generar medidas descriptivas
descriptive_stats = df.describe()

# Mostrar las medidas descriptivas
print("Medidas descriptivas del DataFrame:")
print(descriptive_stats)

Medidas descriptivas del DataFrame:
            HORA  Unnamed: 2       TEMP        HUM          PNM          DD  \
count  50.000000         0.0  48.000000  50.000000    50.000000   46.000000
mean   11.200000         NaN  20.872917  51.440000  1255.832000  165.000000
std     7.056622         NaN  10.757753  19.580457   252.177625  171.435119
min     0.000000         NaN   6.200000  18.000000  1002.900000    0.000000
25%     5.250000         NaN   9.650000  38.250000  1006.600000   20.000000
50%    11.000000         NaN  20.200000  51.000000  1248.800000  185.000000
75%    17.000000         NaN  29.425000  63.000000  1507.000000  260.000000
max    23.000000         NaN  38.800000  86.000000  1516.000000  990.000000

              FF  Unnamed: 9  Unnamed: 10  Unnamed: 11  NOMBRE
count  49.000000         0.0          0.0          0.0     0.0
mean   15.428571         NaN          NaN          NaN     NaN
std     8.388981         NaN          NaN          NaN     NaN
min     0.000000         NaN          NaN          NaN     NaN
25%     9.000000         NaN          NaN          NaN     NaN
50%    13.000000         NaN          NaN          NaN     NaN
75%    22.000000         NaN          NaN          NaN     NaN
max    33.000000         NaN          NaN          NaN     NaN